# evaluation compositions
/evaluate/sim_composition/**
/evaluate/sim_identity/** 


# general outputs
/outputs/**
/inference/**
/evaluate/word_init
/evaluate/vanilla

# segmentation results
/segment/segment_results/**

